body {
	background-color: lightblue;
}

main {
	font-family: helvetica; 
}

.btn {
	background-color: lightblue;
}

.quote-box {
	display: block;
	background-color: aqua; 
	width: 450px;
	height: 150px;
	margin-top: 100px;
	border-radius: 3px; 

}

.footer {
  width: 450px;
  text-align:center;
  display:block;
  margin:15px auto;
}

#twitter-button {
	float: left;
	margin-left: 15px;
	margin-top: 100px; 
	cursor: pointer;
}

#twitter-button:hover {
	opacity: 0.9;
}

#quote-button {
	float: right;
	margin-right: 15px;
	margin-top: 100px; 
	cursor: pointer; 
}

#quote-button:hover {
	opacity: 0.9; 
}

