body {
	background-color: lightblue;
}

main {
	font-family: helvetica; 
}

.quote-box {
	display: block;
	background-color: aqua; 
	width: 450px;
	margin-top: 100px;

}

.footer {
	width: 450px;
  text-align:center;
  display:block;
  margin:15px auto;
}

